# Converted from Google's first-party AdMob Discovery Document.
# source: https://admob.googleapis.com/$discovery/rest?version=v1beta
# revision: 20260731   converted: 2026-08-13   method: derived
openapi: 3.1.0
info:
  title: Google AdMob API
  version: v1beta
  description: 'The AdMob API allows publishers to programmatically get information about their AdMob account. '
  contact:
    name: Google
    url: https://developers.google.com/admob/api/
  termsOfService: https://developers.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-revision: '20260731'
  x-discovery-source: https://admob.googleapis.com/$discovery/rest?version=v1beta
externalDocs:
  description: AdMob API documentation
  url: https://developers.google.com/admob/api/
servers:
- url: https://admob.googleapis.com
  description: Google AdMob API
tags:
- name: accounts
- name: campaignReport
- name: mediationGroups
- name: mediationAbExperiments
- name: mediationReport
- name: apps
- name: adUnitMappings
- name: networkReport
- name: adUnits
- name: adSources
- name: adapters
paths:
  /v1beta/accounts/{accountsId}:
    get:
      operationId: accounts_get
      summary: Gets information about the specified AdMob publisher account.
      description: Gets information about the specified AdMob publisher account.
      tags:
      - accounts
      x-resource-name-parameter:
        name:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherAccount'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts:
    get:
      operationId: accounts_list
      summary: Lists the AdMob publisher account that was most recently signed in to from the AdMob UI
      description: Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For
        more information, see https://support.google.com/admob/answer/10243672.
      tags:
      - accounts
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Maximum number of accounts to return.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation
          of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPublisherAccountsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts/{accountsId}/campaignReport:generate:
    post:
      operationId: accounts_campaignReport_generate
      summary: Generates Campaign Report based on provided specifications.
      description: Generates Campaign Report based on provided specifications.
      tags:
      - campaignReport
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCampaignReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateCampaignReportResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts/{accountsId}/mediationGroups:
    get:
      operationId: accounts_mediationGroups_list
      summary: List mediation groups under the specified AdMob account
      description: List mediation groups under the specified AdMob account. This method has limited access. If you
        see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - mediationGroups
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. Resource name of the account to list mediation groups for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 'The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt).
          Possible fields to filter by are: - "AD_SOURCE_IDS" - "AD_UNIT_IDS" - "APP_IDS" - "DISPLAY_NAME" - "FORMAT"
          - "MEDIATION_GROUP_ID" - "PLATFORM" - "STATE" - "TARGETED_REGION_CODES" Possible filter functions are:
          - `IN`: Used to filter fields that represent a singleton including "MEDIATION_GROUP_ID", "DISPLAY_NAME",
          "STATE", "PLATFORM", and "FORMAT". - `CONTAINS_ANY`: Used to filter fields that represent a collection
          including "AD_SOURCE_IDS", "AD_UNIT_IDS", "APP_IDS", and "TARGETED_REGION_CODES". The filter functions
          can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME,
          "Test Group 1", "Test Group 2") AND IN(PLATFORM, "ANDROID") AND CONTAINS_ANY(AD_SOURCE_IDS, "5450213213286189855")'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of mediation groups to return. If unspecified or 0, at most 10,000 mediation
          groups will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: The value returned by the last `ListMediationGroupsResponse`; indicates that this is a continuation
          of a prior `ListMediationGroups` call, and that the system should return the next page of data.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMediationGroupsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
    post:
      operationId: accounts_mediationGroups_create
      summary: Create a mediation group under the specific AdMob account
      description: Create a mediation group under the specific AdMob account. This method has limited access. If
        you see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - mediationGroups
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. The parent which owns the mediation group. Format: accounts/{publisher_id}'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediationGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediationGroup'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
  /v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}:
    patch:
      operationId: accounts_mediationGroups_patch
      summary: Update the specified mediation group under the specified AdMob account
      description: Update the specified mediation group under the specified AdMob account. This method has limited
        access. If you see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - mediationGroups
      x-resource-name-parameter:
        name:
          pattern: ^accounts/[^/]+/mediationGroups/[^/]+$
          description: 'Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id}
            Example: accounts/pub-9876543210987654/mediationGroups/0123456789'
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: 'List of mediation group fields to be updated. Updates to repeated fields such as items in
          a list will fully replace the existing value(s) with the new value(s). Updates to individual values in
          a map can be done by indexing by the key. The following field masks are supported for mediation group
          updates: - "mediation_group_lines[\"{mediation_group_line_id}\"]" clang-format off - "mediation_group_lines[\"{mediation_group_line_id}\"].ad_unit_mappings[\"{ad_unit_id}\"]"
          clang-format on - "mediation_group_lines[\"{mediation_group_line_id}\"].cpm_micros" - "mediation_group_lines[\"{mediation_group_line_id}\"].cpm_mode"
          - "mediation_group_lines[\"{mediation_group_line_id}\"].state" - "mediation_group_lines[\"{mediation_group_line_id}\"].display_name"
          - "targeting.ad_unit_ids" To update a mediation group with a new mediation group line, use a distinct
          negative number for the "mediation_group_line_id". For Example: update_mask { paths: "mediation_group_lines[\"123456789012345\"].cpm_micros"
          }'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: mediationGroupsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediationGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediationGroup'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
  /v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments:
    post:
      operationId: accounts_mediationGroups_mediationAbExperiments_create
      summary: Create an A/B testing experiment for a specified AdMob account and a mediation group
      description: Create an A/B testing experiment for a specified AdMob account and a mediation group. This method
        has limited access. If you see a 403 permission denied error, please reach out to your account manager for
        access.
      tags:
      - mediationAbExperiments
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+/mediationGroups/[^/]+$
          description: 'Required. The parent which owns the mediation group. Format: accounts/{publisher_id}/mediationGroups/{mediation_group_id}'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: mediationGroupsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediationAbExperiment'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediationAbExperiment'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
  /v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments:stop:
    post:
      operationId: accounts_mediationGroups_mediationAbExperiments_stop
      summary: Stop the mediation A/B experiment and choose a variant
      description: Stop the mediation A/B experiment and choose a variant. This method has limited access. If you
        see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - mediationAbExperiments
      x-resource-name-parameter:
        name:
          pattern: ^accounts/[^/]+/mediationGroups/[^/]+/mediationAbExperiments$
          description: 'Name of the mediation group, the experiment for which to choose a variant for. Example:
            accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiments'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: mediationGroupsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopMediationAbExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediationAbExperiment'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
  /v1beta/accounts/{accountsId}/mediationReport:generate:
    post:
      operationId: accounts_mediationReport_generate
      summary: Generates an AdMob Mediation report based on the provided report specification
      description: Generates an AdMob Mediation report based on the provided report specification. Returns result
        of a server-side streaming RPC. The result is returned in a sequence of responses.
      tags:
      - mediationReport
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMediationReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMediationReportResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts/{accountsId}/apps:
    post:
      operationId: accounts_apps_create
      summary: Creates an app under the specified AdMob account
      description: Creates an app under the specified AdMob account. This method has limited access. If you see
        a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - apps
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. Resource name of the account for which the app is being created. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
    get:
      operationId: accounts_apps_list
      summary: List the apps under the specified AdMob account.
      description: List the apps under the specified AdMob account.
      tags:
      - apps
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned.
          The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: The value returned by the last `ListAppsResponse`; indicates that this is a continuation of
          a prior `ListApps` call, and that the system should return the next page of data.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
  /v1beta/accounts/{accountsId}/adUnitMappings:batchCreate:
    post:
      operationId: accounts_adUnitMappings_batchCreate
      summary: Batch create the ad unit mappings under the specific AdMob account
      description: Batch create the ad unit mappings under the specific AdMob account. The maximum allowed batch
        size is 100. This method has limited access. If you see a 403 permission denied error, please reach out
        to your account manager for access.
      tags:
      - adUnitMappings
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. The AdMob account which owns this collection of ad unit mappings. Format: accounts/{publisher_id}
            See https://support.google.com/admob/answer/2784578 for instructions on how to find your AdMob publisher
            ID.'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateAdUnitMappingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateAdUnitMappingsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
  /v1beta/accounts/{accountsId}/networkReport:generate:
    post:
      operationId: accounts_networkReport_generate
      summary: Generates an AdMob Network report based on the provided report specification
      description: Generates an AdMob Network report based on the provided report specification. Returns result
        of a server-side streaming RPC. The result is returned in a sequence of responses.
      tags:
      - networkReport
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateNetworkReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateNetworkReportResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts/{accountsId}/adUnits:
    post:
      operationId: accounts_adUnits_create
      summary: Creates an ad unit under the specified AdMob account
      description: Creates an ad unit under the specified AdMob account. This method has limited access. If you
        see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - adUnits
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. Resource name of the account to create the specified ad unit for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
    get:
      operationId: accounts_adUnits_list
      summary: List the ad units under the specified AdMob account.
      description: List the ad units under the specified AdMob account.
      tags:
      - adUnits
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will
          be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation
          of a prior `ListAdUnits` call, and that the system should return the next page of data.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdUnitsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
  /v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings:
    post:
      operationId: accounts_adUnits_adUnitMappings_create
      summary: Create an ad unit mapping under the specific AdMob account and ad unit
      description: Create an ad unit mapping under the specific AdMob account and ad unit. This method has limited
        access. If you see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - adUnitMappings
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+/adUnits/[^/]+$
          description: 'Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: adUnitsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnitMapping'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnitMapping'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
    get:
      operationId: accounts_adUnits_adUnitMappings_list
      summary: List ad unit mappings under the specified AdMob account and ad unit
      description: List ad unit mappings under the specified AdMob account and ad unit. This method has limited
        access. If you see a 403 permission denied error, please reach out to your account manager for access.
      tags:
      - adUnitMappings
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+/adUnits/[^/]+$
          description: 'Required. The parent which owns this collection of ad unit mappings. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}'
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 'The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt).
          Possible field to filter by is: - "DISPLAY_NAME" Possible filter function is: - `IN`: Used to filter fields
          that represent a singleton including "DISPLAY_NAME". The filter functions can be added together using
          `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, "Test Ad Unit Mapping 1",
          "Test Ad Unit Mapping 2")'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of ad unit mappings to return. If unspecified or 0, at most 10,000 ad unit
          mappings will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAdUnitMappings` call. Provide this to retrieve
          the subsequent page.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: adUnitsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdUnitMappingsResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
  /v1beta/accounts/{accountsId}/adSources:
    get:
      operationId: accounts_adSources_list
      summary: List the ad sources.
      description: List the ad sources.
      tags:
      - adSources
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources
          will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent
          page.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdSourcesResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
  /v1beta/accounts/{accountsId}/adSources/{adSourcesId}/adapters:
    get:
      operationId: accounts_adSources_adapters_list
      summary: List the adapters of the ad source.
      description: List the adapters of the ad source.
      tags:
      - adapters
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+/adSources/[^/]+$
          description: 'Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will
          be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent
          page.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      - name: adSourcesId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdaptersResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access
            to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
components:
  schemas:
    BatchCreateAdUnitMappingsResponse:
      type: object
      description: Response containing a batch of created ad unit mappings.
      properties:
        adUnitMappings:
          type: array
          description: The Ad units mappings created under the requested account.
          items:
            $ref: '#/components/schemas/AdUnitMapping'
    Date:
      type: object
      description: 'Represents a whole or partial calendar date, such as a birthday. The time of day and time zone
        are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This
        can represent one of the following: * A full date, with non-zero year, month, and day values. * A month
        and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero
        day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: *
        google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp'
      properties:
        year:
          type: integer
          format: int32
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
        month:
          type: integer
          format: int32
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
        day:
          type: integer
          format: int32
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a
            year by itself or a year and month where the day isn't significant.
    LocalizationSettings:
      type: object
      description: Localization settings for reports, such as currency and language. It affects how metrics are
        calculated.
      properties:
        currencyCode:
          type: string
          description: Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217.
            The daily average rate is used for the currency conversion. Defaults to the account currency code if
            unspecified.
        languageCode:
          type: string
          description: Language used for any localized text, such as some dimension value display labels. The language
            tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.
    BatchCreateAdUnitMappingsRequest:
      type: object
      description: Request to create a batch of ad unit mappings under the specific AdMob account.
      properties:
        requests:
          type: array
          description: Required. The request message specifying the ad unit mappings to create. A maximum of 100
            ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed
            100, the entire request will be rejected and no ad unit mappings will be created.
          items:
            $ref: '#/components/schemas/CreateAdUnitMappingRequest'
    MediationReportSpec:
      type: object
      description: 'The specification for generating an AdMob Mediation report. For example, the specification to
        get observed ECPM sliced by ad source and app for the ''US'' and ''CN'' countries can look like the following
        example: { "date_range": { "start_date": {"year": 2021, "month": 9, "day": 1}, "end_date": {"year": 2021,
        "month": 9, "day": 30} }, "dimensions": ["AD_SOURCE", "APP", "COUNTRY"], "metrics": ["OBSERVED_ECPM"], "dimension_filters":
        [ { "dimension": "COUNTRY", "matches_any": {"values": [{"value": "US", "value": "CN"}]} } ], "sort_conditions":
        [ {"dimension":"APP", order: "ASCENDING"} ], "localization_settings": { "currency_code": "USD", "language_code":
        "en-US" } } For a better understanding, you can treat the preceding specification like the following pseudo
        SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= ''2021-09-01'' AND
        DATE <= ''2021-09-30'' AND COUNTRY IN (''US'', ''CN'') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;'
      properties:
        maxReportRows:
          type: integer
          format: int32
          description: Maximum number of report data rows to return. If the value is not set, the API returns as
            many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000
            return an error.
        timeZone:
          type: string
          description: A report time zone. Accepts an IANA TZ name values, such as "America/Los_Angeles." If no
            time zone is defined, the account default takes effect. Check default value by the get account action.
            **Warning:** The "America/Los_Angeles" is the only supported value at the moment.
        dimensionFilters:
          type: array
          description: Describes which report rows to match based on their dimension values.
          items:
            $ref: '#/components/schemas/MediationReportSpecDimensionFilter'
        dimensions:
          type: array
          description: List of dimensions of the report. The value combination of these dimensions determines the
            row of the report. If no dimensions are specified, the report returns a single row of requested metrics
            for the entire account.
          items:
            type: string
            enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_SOURCE
            - AD_SOURCE_INSTANCE
            - AD_UNIT
            - APP
            - MEDIATION_GROUP
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
            - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
            - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can
              specify at most one time dimension.
            - The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, "5450213213286189855" and
              "AdMob Network" as label value).
            - The unique ID of the ad source instance (for example, "ca-app-pub-1234:asi:5678" and "AdMob (default)"
              as label value).
            - The unique ID of the ad unit (for example, "ca-app-pub-1234/8790"). If AD_UNIT dimension is specified,
              then APP is included automatically.
            - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
            - The unique ID of the mediation group (for example, "ca-app-pub-1234:mg:1234" and "AdMob (default)"
              as label value).
            - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is
              a geography dimension.
            - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
            - Mobile OS platform of the app (for example, "Android" or "iOS").
            - Mobile operating system version, e.g. "iOS 13.5.1".
            - GMA SDK version, e.g. "iOS 7.62.0".
            - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version
              name can be found in CFBundleShortVersionString.
            - Restriction mode for ads serving (e.g. "Non-personalized ads").
        metrics:
          type: array
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            type: string
            enum:
            - METRIC_UNSPECIFIED
            - AD_REQUESTS
            - CLICKS
            - ESTIMATED_EARNINGS
            - IMPRESSIONS
            - IMPRESSION_CTR
            - MATCHED_REQUESTS
            - MATCH_RATE
            - OBSERVED_ECPM
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - The number of requests. The value is an integer.
            - The number of times a user clicks an ad. The value is an integer.
            - The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning
              metrics are determined by the localization setting for currency. The amount is in micros. For example,
              $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance
              level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for
              dates prior to October 20, 2019.
            - The total number of ads shown to users. The value is an integer.
            - The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.
            - The number of times ads are returned in response to a request. The value is an integer.
            - The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate)
              decimal value.
            - The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the
              earning metrics are determined by the localization setting for currency. The amount is in micros.
              For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group
              and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated
              average eCPM will show 0 for dates prior to October 20, 2019.
        localizationSettings:
          $ref: '#/components/schemas/LocalizationSettings'
        dateRange:
          $ref: '#/components/schemas/DateRange'
        sortConditions:
          type: array
          description: Describes the sorting of report rows. The order of the condition in the list defines its
            precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified,
            the row ordering is undefined.
          items:
            $ref: '#/components/schemas/MediationReportSpecSortCondition'
    MediationGroupMediationGroupLine:
      type: object
      description: Settings for an ad network used by a mediation group.
      properties:
        cpmMicros:
          type: string
          format: int64
          description: The CPM for this allocation line. $0.01 is the minimum allowed amount. For LIVE CPM modes,
            the default amount is $0.01. This value is ignored if `cpm_mode` is `LIVE`. **Warning:** "USD" is the
            only supported currency at the moment. The unit is in micros.
        adSourceId:
          type: string
          description: The ID of the ad source this mediation line is associated with.
        experimentVariant:
          type: string
          description: Output only. The Mediation A/B experiment variant to which the mediation group line belongs
            to.
          enum:
          - VARIANT_UNSPECIFIED
          - VARIANT_A
          - VARIANT_B
          - ORIGINAL
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - The mediation group line belongs to the variant A.
          - The mediation group line belongs to the variant B.
          - The mediation group line isn't a part of an experiment.
          readOnly: true
        displayName:
          type: string
          description: User-provided label for this mediation line. The maximum length allowed is 255 characters.
        adUnitMappings:
          type: object
          description: References of the ad unit mappings for each ad unit associated with this mediation line.
            Key is the ad unit ID, value is resource name of the ad unit mapping. For mediation lines where the
            ad source id is the AdMob Network, ad unit mappings will be ignored.
          additionalProperties:
            type: string
        id:
          type: string
          description: The 16 digit ID for this mediation line e.g. 0123456789012345. When creating a new mediation
            group line, use a distinct negative integer as the ID place holder.
        state:
          type: string
          description: The status of the mediation group line. Only enabled mediation group lines will be served.
          enum:
          - STATE_UNSPECIFIED
          - ENABLED
          - DISABLED
          - REMOVED
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - The mediation group line is active and used to serve ads.
          - The mediation group line has been disabled and is no longer served. Disabled mediation group lines can
            be re-enabled.
          - The mediation group line will be removed and no longer served. Removed mediation group lines can not
            be re-enabled and will no longer be visible. This is an input only field.
        cpmMode:
          type: string
          description: Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE`
            are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com)
            if you wish to create or update to other cpm modes.
          enum:
          - CPM_MODE_UNSPECIFIED
          - LIVE
          - MANUAL
          - ANO
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - CPM is calculated per ad request based on the ad auction.
          - CPM is set by the user manually.
          - CPM is retrieved from the ad network using the publisher specified credentials. Output only.
    GenerateNetworkReportRequest:
      type: object
      description: Request to generate an AdMob Network report.
      properties:
        reportSpec:
          $ref: '#/components/schemas/NetworkReportSpec'
    MediationAbExperiment:
      type: object
      description: The mediation A/B experiment.
      properties:
        displayName:
          type: string
          description: The display name for the mediation A/B experiment.
        mediationGroupId:
          type: string
          description: Output only. The mediation group id this experiment belongs to. This can be used for filtering
            the experiments in the list experiments API.
          readOnly: true
        endTime:
          type: string
          format: google-datetime
          description: Output only. The time at which the experiment was ended or target to end (in UTC).
          readOnly: true
        name:
          type: string
          description: 'Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/
            {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/
            mediationAbExperiment/12345'
        experimentId:
          type: string
          description: Output only. Unique identifier for the mediation A/B experiment. It is an output only property.
          readOnly: true
        treatmentTrafficPercentage:
          type: string
          format: int64
          description: The percentage of the mediation A/B experiment traffic that will be send to the treatment
            (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer
            in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details.
        controlMediationLines:
          type: array
          description: Output only. The experiment mediation lines for control. They are inherited from the parent
            mediation group. It is an output only field.
          readOnly: true
          items:
            $ref: '#/components/schemas/MediationAbExperimentExperimentMediationLine'
        startTime:
          type: string
          format: google-datetime
          description: Output only. The time at which the experiment was started (in UTC).
          readOnly: true
        treatmentMediationLines:
          type: array
          description: The experiment mediation lines created for the treatment. They will be used for serving when
            the experiment status is RUNNING.
          items:
            $ref: '#/components/schemas/MediationAbExperimentExperimentMediationLine'
        state:
          type: string
          description: Output only. The state of the experiment. It is an output only field.
          enum:
          - EXPERIMENT_STATE_UNSPECIFIED
          - EXPIRED
          - RUNNING
          - ENDED
          x-enum-descriptions:
          - Default for an unset field. Do not use.
          - The experiment has expired.
          - The experiment is running and thus used in serving.
          - The experiment is ended, but not yet expired. Serving continues in the original configurations while
            the experiment is ready to call an action.
          readOnly: true
        variantLeader:
          type: string
          description: Output only. The variant leader for the experiment according to some key metrics.
          enum:
          - VARIANT_LEADER_UNSPECIFIED
          - CONTROL
          - TREATMENT
          - INSUFFICIENT_DATA
          - TOO_EARLY_TO_CALL
          - NO_VARIANT_LEADER
          x-enum-descriptions:
          - Default value of the enum. Do not use.
          - The control leading the experiment.
          - The treatment leading the experiment.
          - Collected data (impressions) are insufficient to determine a leader.
          - Experiment hasn't run long enough to determine a leader.
          - Neither variant is a decisive winner in the observed data.
          readOnly: true
    GenerateMediationReportResponse:
      type: object
      description: 'The streaming response for the AdMob Mediation report where the first response contains the
        report header, then a stream of row responses, and finally a footer as the last response message. For example:
        [{ "header": { "date_range": { "start_date": {"year": 2018, "month": 9, "day": 1}, "end_date": {"year":
        2018, "month": 9, "day": 1} }, "localization_settings": { "currency_code": "USD", "language_code": "en-US"
        } } }, { "row": { "dimension_values": { "DATE": {"value": "20180918"}, "APP": { "value": "ca-app-pub-8123415297019784~1001342552",
        "display_label": "My app name!" } }, "metric_values": { "ESTIMATED_EARNINGS": {"decimal_value": "1324746"}
        } } }, { "footer": {"matching_row_count": 1} }]'
      properties:
        row:
          $ref: '#/components/schemas/ReportRow'
        footer:
          $ref: '#/components/schemas/ReportFooter'
        header:
          $ref: '#/components/schemas/ReportHeader'
    ListAppsResponse:
      type: object
      description: Response for the apps list request.
      properties:
        apps:
          type: array
          description: The resulting apps for the requested account.
          items:
            $ref: '#/components/schemas/App'
        nextPageToken:
          type: string
          description: If not empty, indicates that there may be more apps for the request; this value should be
            passed in a new `ListAppsRequest`.
    AdUnit:
      type: object
      description: Describes an AdMob ad unit.
      properties:
        adUnitId:
          type: string
          description: 'The externally visible ID of the ad unit which can be used to integrate with AdMob. This
            is a read only property. Example: ca-app-pub-9876543210987654/0123456789'
        appId:
          type: string
          description: 'The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789'
        displayName:
          type: string
          description: The display name of the ad unit as shown in the AdMob UI, which is provided by the user.
            The maximum length allowed is 80 characters.
        rewardSettings:
          $ref: '#/components/schemas/AdUnitRewardSettings'
        name:
          type: string
          description: 'Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment}
            Example: accounts/pub-9876543210987654/adUnits/0123456789'
        adTypes:
          type: array
          description: 'Ad media type supported by this ad unit. Possible values as follows: "RICH_MEDIA" - Text,
            image, and other non-video media. "VIDEO" - Video media.'
          items:
            type: string
        adFormat:
          type: string
          description: 'AdFormat of the ad unit. Possible values are as follows: "APP_OPEN" - App Open ad format.
            "BANNER" - Banner ad format. "BANNER_INTERSTITIAL" - Legacy format that can be used as either banner
            or interstitial. This format can no longer be created but can be targeted by mediation groups. "INTERSTITIAL"
            - A full screen ad. Supported ad types are "RICH_MEDIA" and "VIDEO". "NATIVE" - Native ad format. "REWARDED"
            - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user.
            Supported ad types are "RICH_MEDIA" (interactive) and video where video can not be excluded. "REWARDED_INTERSTITIAL"
            - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467.'
    AppLinkedAppInfo:
      type: object
      description: Information from the app store if the app is linked to an app store.
      properties:
        androidAppStores:
          type: array
          description: Optional. The app store information for published Android apps. This field is only used for
            apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is
            the Google Play App store. This field can be updated after app is created. If the app is not published,
            this field will not be included in the response.
          items:
            type: string
            enum:
            - ANDROID_APP_STORE_UNSPECIFIED
            - GOOGLE_PLAY_APP_STORE
            - AMAZON_APP_STORE
            - OPPO_APP_STORE
            - SAMSUNG_APP_STORE
            - VIVO_APP_STORE
            - XIAOMI_APP_STORE
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - Google Play Store.
            - Amazon Appstore.
            - Oppo App Market.
            - Samsung Galaxy Store.
            - VIVO App Store.
            - Xiaomi GetApps.
        appStoreId:
          type: string
          description: 'The app store ID of the app; present if and only if the app is linked to an app store. If
            the app is added to the Google Play store, it will be the application ID of the app. For example: "com.example.myapp".
            See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App
            Store, it will be app store ID. For example "105169111". Note that setting the app store id is considered
            an irreversible action. Once an app is linked, it cannot be unlinked.'
        displayName:
          type: string
          description: Output only. Display name of the app as it appears in the app store. This is an output-only
            field, and may be empty if the app cannot be found in the store.
          readOnly: true
    ListMediationGroupsResponse:
      type: object
      description: Response for the mediation groups list request.
      properties:
        mediationGroups:
          type: array
          description: The resulting mediation groups for the requested account.
          items:
            $ref: '#/components/schemas/MediationGroup'
        nextPageToken:
          type: string
          description: If not empty, indicates that there may be more mediation groups for the request; this value
            should be passed in a new `ListMediationGroupsRequest`.
    MediationAbExperimentExperimentMediationLine:
      type: object
      description: The mediation group line for the experiment. It will be used for serving during the run of the
        experiment.
      properties:
        mediationGroupLine:
          $ref: '#/components/schemas/MediationGroupMediationGroupLine'
    ListPublisherAccountsResponse:
      type: object
      description: Response for the publisher account list request.
      properties:
        account:
          type: array
          description: Publisher that the client credentials can access.
          items:
            $ref: '#/components/schemas/PublisherAccount'
        nextPageToken:
          type: string
          description: If not empty, indicates that there might be more accounts for the request; you must pass
            this value in a new `ListPublisherAccountsRequest`.
    GenerateNetworkReportResponse:
      type: object
      description: 'The streaming response for the AdMob Network report where the first response contains the report
        header, then a stream of row responses, and finally a footer as the last response message. For example:
        [{ "header": { "dateRange": { "startDate": {"year": 2018, "month": 9, "day": 1}, "endDate": {"year": 2018,
        "month": 9, "day": 1} }, "localizationSettings": { "currencyCode": "USD", "languageCode": "en-US" } } },
        { "row": { "dimensionValues": { "DATE": {"value": "20180918"}, "APP": { "value": "ca-app-pub-8123415297019784~1001342552",
        displayLabel: "My app name!" } }, "metricValues": { "ESTIMATED_EARNINGS": {"microsValue": 6500000} } } },
        { "footer": {"matchingRowCount": 1} }]'
      properties:
        header:
          $ref: '#/components/schemas/ReportHeader'
        row:
          $ref: '#/components/schemas/ReportRow'
        footer:
          $ref: '#/components/schemas/ReportFooter'
    App:
      type: object
      description: 'Describes an AdMob app for a specific platform (For example: Android or iOS).'
      properties:
        name:
          type: string
          description: 'Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example:
            accounts/pub-9876543210987654/apps/0123456789'
        appId:
          type: string
          description: 'The externally visible ID of the app which can be used to integrate with AdMob. This is
            a read only property. Example: ca-app-pub-9876543210987654~0123456789'
        platform:
          type: string
          description: Describes the platform of the app. Limited to "IOS" and "ANDROID".
        appApprovalState:
          type: string
          description: Output only. The approval state for the app. The field is read-only.
          enum:
          - APP_APPROVAL_STATE_UNSPECIFIED
          - ACTION_REQUIRED
          - IN_REVIEW
          - APPROVED
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - The app requires additional user action to be approved. Please refer to https://support.google.com/admob/answer/10564477
            for details and next steps.
          - The app is pending review.
          - The app is approved and can serve ads.
          readOnly: true
        manualAppInfo:
          $ref: '#/components/schemas/AppManualAppInfo'
        linkedAppInfo:
          $ref: '#/components/schemas/AppLinkedAppInfo'
    Adapter:
      type: object
      description: Describes adapters supported by each mediation ad source. Adapters correspond to a specific SDK
        implementation of the ad source, and are each associated with a single platform and a list of supported
        ad unit formats. Adapters may also require setting some configurations to perform ad requests. Configurations
        can be specified in the AdUnitMapping by setting the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations)
        key/value pairs. For example, the ad_unit_configurations can be used to pass various IDs to the adapter's
        third-party SDK.
      properties:
        adapterId:
          type: string
          description: Output only. ID of this adapter. It is used to set [adapter_id](#AdUnitMapping.adapter_id).
          readOnly: true
        name:
          type: string
          description: 'Output only. Resource name of the adapter. Format is: accounts/{publisher_id}/adSources/{ad_source_id}/adapters/{adapter_id}.'
          readOnly: true
        title:
          type: string
          description: Output only. The display name of this adapter.
          readOnly: true
        formats:
          type: array
          description: Output only. Indicates the formats of the ad units supported by this adapter.
          readOnly: true
          items:
            type: string
        adapterConfigMetadata:
          type: array
          description: Output only. Configuration metadata associated with this adapter.
          readOnly: true
          items:
            $ref: '#/components/schemas/AdapterAdapterConfigMetadata'
        platform:
          type: string
          description: 'Output only. Mobile application platform supported by this adapter. Supported values are:
            IOS, ANDROID, WINDOWS_PHONE'
          readOnly: true
    NetworkReportSpecDimensionFilter:
      type: object
      description: Describes which report rows to match based on their dimension values.
      properties:
        matchesAny:
          $ref: '#/components/schemas/StringList'
        dimension:
          type: string
          description: Applies the filter criterion to the specified dimension.
          enum:
          - DIMENSION_UNSPECIFIED
          - DATE
          - MONTH
          - WEEK
          - AD_UNIT
          - APP
          - AD_TYPE
          - COUNTRY
          - FORMAT
          - PLATFORM
          - MOBILE_OS_VERSION
          - GMA_SDK_VERSION
          - APP_VERSION_NAME
          - SERVING_RESTRICTION
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
          - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
          - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can specify
            at most one time dimension.
          - The unique ID of the ad unit (for example, "ca-app-pub-1234/1234"). If AD_UNIT dimension is specified,
            then APP is included automatically.
          - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
          - Type of the ad (for example, "text" or "image"), an ad delivery dimension. **Warning:** The dimension
            is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE)
            and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.
          - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is
            a geography dimension.
          - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
          - Mobile OS platform of the app (for example, "Android" or "iOS").
          - Mobile operating system version, e.g. "iOS 13.5.1".
          - GMA SDK version, e.g. "iOS 7.62.0".
          - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version
            name can be found in CFBundleShortVersionString.
          - Restriction mode for ads serving (e.g. "Non-personalized ads").
    CreateAdUnitMappingRequest:
      type: object
      description: Request to create an ad unit mapping under the specific AdMob account and ad unit.
      properties:
        parent:
          type: string
          description: 'Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}'
        adUnitMapping:
          $ref: '#/components/schemas/AdUnitMapping'
    NetworkReportSpec:
      type: object
      description: 'The specification for generating an AdMob Network report. For example, the specification to
        get clicks and estimated earnings for only the ''US'' and ''CN'' countries can look like the following example:
        { ''date_range'': { ''start_date'': {''year'': 2021, ''month'': 9, ''day'': 1}, ''end_date'': {''year'':
        2021, ''month'': 9, ''day'': 30} }, ''dimensions'': [''DATE'', ''APP'', ''COUNTRY''], ''metrics'': [''CLICKS'',
        ''ESTIMATED_EARNINGS''], ''dimension_filters'': [ { ''dimension'': ''COUNTRY'', ''matches_any'': {''values'':
        [{''value'': ''US'', ''value'': ''CN''}]} } ], ''sort_conditions'': [ {''dimension'':''APP'', order: ''ASCENDING''},
        {''metric'':''CLICKS'', order: ''DESCENDING''} ], ''localization_settings'': { ''currency_code'': ''USD'',
        ''language_code'': ''en-US'' } } For a better understanding, you can treat the preceding specification like
        the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE
        DATE >= ''2021-09-01'' AND DATE <= ''2021-09-30'' AND COUNTRY IN (''US'', ''CN'') GROUP BY DATE, APP, COUNTRY
        ORDER BY APP ASC, CLICKS DESC;'
      properties:
        timeZone:
          type: string
          description: A report time zone. Accepts an IANA TZ name values, such as "America/Los_Angeles." If no
            time zone is defined, the account default takes effect. Check default value by the get account action.
            **Warning:** The "America/Los_Angeles" is the only supported value at the moment.
        dimensionFilters:
          type: array
          description: Describes which report rows to match based on their dimension values.
          items:
            $ref: '#/components/schemas/NetworkReportSpecDimensionFilter'
        maxReportRows:
          type: integer
          format: int32
          description: Maximum number of report data rows to return. If the value is not set, the API returns as
            many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000
            return an error.
        dateRange:
          $ref: '#/components/schemas/DateRange'
        sortConditions:
          type: array
          description: Describes the sorting of report rows. The order of the condition in the list defines its
            precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified,
            the row ordering is undefined.
          items:
            $ref: '#/components/schemas/NetworkReportSpecSortCondition'
        dimensions:
          type: array
          description: List of dimensions of the report. The value combination of these dimensions determines the
            row of the report. If no dimensions are specified, the report returns a single row of requested metrics
            for the entire account.
          items:
            type: string
            enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_UNIT
            - APP
            - AD_TYPE
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
            - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
            - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can
              specify at most one time dimension.
            - The unique ID of the ad unit (for example, "ca-app-pub-1234/1234"). If AD_UNIT dimension is specified,
              then APP is included automatically.
            - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
            - Type of the ad (for example, "text" or "image"), an ad delivery dimension. **Warning:** The dimension
              is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE)
              and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.
            - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is
              a geography dimension.
            - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
            - Mobile OS platform of the app (for example, "Android" or "iOS").
            - Mobile operating system version, e.g. "iOS 13.5.1".
            - GMA SDK version, e.g. "iOS 7.62.0".
            - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version
              name can be found in CFBundleShortVersionString.
            - Restriction mode for ads serving (e.g. "Non-personalized ads").
        metrics:
          type: array
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            type: string
            enum:
            - METRIC_UNSPECIFIED
            - AD_REQUESTS
            - CLICKS
            - ESTIMATED_EARNINGS
            - IMPRESSIONS
            - IMPRESSION_CTR
            - IMPRESSION_RPM
            - MATCHED_REQUESTS
            - MATCH_RATE
            - SHOW_RATE
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE)
              dimension.
            - The number of times a user clicks an ad. The value is an integer.
            - The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning
              metrics are determined by the localization setting for currency. The amount is in micros. For example,
              $6.50 would be represented as 6500000.
            - The total number of ads shown to users. The value is an integer.
            - The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.
            - The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would
              be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible
              with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
            - The number of times ads are returned in response to a request. The value is an integer.
            - The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate)
              decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE)
              dimension.
            - The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests.
              The value is a double precision (approximate) decimal value.
        localizationSettings:
          $ref: '#/components/schemas/LocalizationSettings'
    ReportRow:
      type: object
      description: A row of the returning report.
      properties:
        dimensionValues:
          type: object
          description: Map of dimension values in a row, with keys as enum name of the dimensions.
          additionalProperties:
            $ref: '#/components/schemas/ReportRowDimensionValue'
        metricValues:
          type: object
          description: Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested
            has no value returned, the map will not include it.
          additionalProperties:
            $ref: '#/components/schemas/ReportRowMetricValue'
    ReportRowDimensionValue:
      type: object
      description: Representation of a dimension value.
      properties:
        value:
          type: string
          description: Dimension value in the format specified in the report's spec Dimension enum.
        displayLabel:
          type: string
          description: The localized string representation of the value. If unspecified, the display label should
            be derived from the value.
    ReportFooter:
      type: object
      description: Groups data available after report generation, for example, warnings and row counts. Always sent
        as the last message in the stream response.
      properties:
        warnings:
          type: array
          description: Warnings associated with generation of the report.
          items:
            $ref: '#/components/schemas/ReportWarning'
        matchingRowCount:
          type: string
          format: int64
          description: 'Total number of rows that matched the request. Warning: This count does NOT always match
            the number of rows in the response. Do not make that assumption when processing the response.'
    GenerateCampaignReportResponse:
      type: object
      description: Campaign Report API response.
      properties:
        rows:
          type: array
          description: The campaign report data from the specified publisher. At most 100000 rows will be returned
            from the API.
          items:
            $ref: '#/components/schemas/ReportRow'
    AdapterAdapterConfigMetadata:
      type: object
      description: Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations
        associated with AdUnitMappings for the this adapter.
      properties:
        isRequired:
          type: boolean
          description: Whether this metadata is required for configuring the AdUnitMappings.
        adapterConfigMetadataId:
          type: string
          description: This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations).
        adapterConfigMetadataLabel:
          type: string
          description: Name of the adapter configuration metadata.
    AdSource:
      type: object
      description: Definition of a mediation ad source.
      properties:
        name:
          type: string
          description: 'Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}'
        title:
          type: string
          description: Display name of this ad source.
        adSourceId:
          type: string
          description: ID of this ad source.
    ListAdSourcesResponse:
      type: object
      description: Response for the ListAdSourcesRequest.
      properties:
        adSources:
          type: array
          description: The ad sources.
          items:
            $ref: '#/components/schemas/AdSource'
        nextPageToken:
          type: string
          description: Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If
            this field is omitted, there are no subsequent pages.
    ReportRowMetricValue:
      type: object
      description: Representation of a metric value.
      properties:
        doubleValue:
          type: number
          format: double
          description: Double precision (approximate) decimal values. Rates are from 0 to 1.
        integerValue:
          type: string
          format: int64
          description: Metric integer value.
        microsValue:
          type: string
          format: int64
          description: Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD,
            EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.
    CampaignReportSpec:
      type: object
      description: 'The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS
        and CLICKS sliced by CAMPAIGN_ID can look like the following example: { "date_range": { "start_date": {"year":
        2021, "month": 12, "day": 1}, "end_date": {"year": 2021, "month": 12, "day": 30} }, "dimensions": ["CAMPAIGN_ID"],
        "metrics": ["IMPRESSIONS", "CLICKS"], }'
      properties:
        dateRange:
          $ref: '#/components/schemas/DateRange'
        dimensions:
          type: array
          description: List of dimensions of the report. The value combination of these dimensions determines the
            row of the report. If no dimensions are specified, the report returns a single row of requested metrics
            for the entire account.
[...]
