openapi: 3.2.0
info:
  title: Google Admob Network Report API
  contact:
    name: Google
    url: https://developers.google.com/admob/api/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-discovery-revision: '20260731'
  x-refined-note:
  - x-discovery-source differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged networkReport across 2 of this provider''s published API definitions: google-admob-api-v1-openapi.yml, google-admob-api-v1beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://admob.googleapis.com
  description: Google AdMob API
security:
- GoogleOAuth2:
  - https://www.googleapis.com/auth/admob.readonly
  - https://www.googleapis.com/auth/admob.report
tags:
- name: networkReport
paths:
  /v1/accounts/{accountsId}/networkReport:generate:
    post:
      operationId: accounts_networkReport_generate
      summary: Generates an AdMob Network report based on the provided report specification
      description: Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.
      tags:
      - networkReport
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateNetworkReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateNetworkReportResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
    servers:
    - url: https://admob.googleapis.com
      description: Google AdMob API
  /v1beta/accounts/{accountsId}/networkReport:generate:
    post:
      operationId: accounts_networkReport_generate
      summary: Generates an AdMob Network report based on the provided report specification
      description: Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.
      tags:
      - networkReport
      x-resource-name-parameter:
        parent:
          pattern: ^accounts/[^/]+$
          description: 'Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654'
      parameters:
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
        description: Path segment of the resource name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateNetworkReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateNetworkReportResponse'
        '400':
          description: INVALID_ARGUMENT — malformed request, unknown publisher id, or incompatible report metrics/dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '401':
          description: UNAUTHENTICATED — missing or invalid OAuth 2.0 access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '403':
          description: PERMISSION_DENIED — AdMob API not enabled on the project, or the effective user lacks access to the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '429':
          description: RESOURCE_EXHAUSTED — per-project quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
        '500':
          description: INTERNAL — unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - GoogleOAuth2:
        - https://www.googleapis.com/auth/admob.readonly
        - https://www.googleapis.com/auth/admob.report
    servers:
    - url: https://admob.googleapis.com
      description: Google AdMob API
components:
  schemas:
    NetworkReportSpecDimensionFilter:
      type: object
      description: Describes which report rows to match based on their dimension values.
      properties:
        matchesAny:
          $ref: '#/components/schemas/StringList'
        dimension:
          type: string
          description: Applies the filter criterion to the specified dimension.
          enum:
          - DIMENSION_UNSPECIFIED
          - DATE
          - MONTH
          - WEEK
          - AD_UNIT
          - APP
          - AD_TYPE
          - COUNTRY
          - FORMAT
          - PLATFORM
          - MOBILE_OS_VERSION
          - GMA_SDK_VERSION
          - APP_VERSION_NAME
          - SERVING_RESTRICTION
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
          - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
          - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
          - The unique ID of the ad unit (for example, "ca-app-pub-1234/1234"). If AD_UNIT dimension is specified, then APP is included automatically.
          - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
          - Type of the ad (for example, "text" or "image"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.
          - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is a geography dimension.
          - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
          - Mobile OS platform of the app (for example, "Android" or "iOS").
          - Mobile operating system version, e.g. "iOS 13.5.1".
          - GMA SDK version, e.g. "iOS 7.62.0".
          - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.
          - Restriction mode for ads serving (e.g. "Non-personalized ads").
    GoogleRpcStatus:
      type: object
      description: Canonical Google API error envelope (google.rpc.Status), returned inside an `error` wrapper.
      properties:
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
        message:
          type: string
          description: A developer-facing error message in English.
        status:
          type: string
          description: The canonical error reason, e.g. INVALID_ARGUMENT, RESOURCE_EXHAUSTED.
        details:
          type: array
          items:
            type: object
          description: A list of messages that carry the error details.
      x-source: Derived from Google's documented AdMob error responses at https://developers.google.com/admob/api/v1/errors; not present in the Discovery Document.
    ReportRow:
      type: object
      description: A row of the returning report.
      properties:
        dimensionValues:
          type: object
          description: Map of dimension values in a row, with keys as enum name of the dimensions.
          additionalProperties:
            $ref: '#/components/schemas/ReportRowDimensionValue'
        metricValues:
          type: object
          description: Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it.
          additionalProperties:
            $ref: '#/components/schemas/ReportRowMetricValue'
    GenerateNetworkReportRequest:
      type: object
      description: Request to generate an AdMob Network report.
      properties:
        reportSpec:
          $ref: '#/components/schemas/NetworkReportSpec'
    NetworkReportSpecSortCondition:
      type: object
      description: Sorting direction to be applied on a dimension or a metric.
      properties:
        metric:
          type: string
          description: Sort by the specified metric.
          enum:
          - METRIC_UNSPECIFIED
          - AD_REQUESTS
          - CLICKS
          - ESTIMATED_EARNINGS
          - IMPRESSIONS
          - IMPRESSION_CTR
          - IMPRESSION_RPM
          - MATCHED_REQUESTS
          - MATCH_RATE
          - SHOW_RATE
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
          - The number of times a user clicks an ad. The value is an integer.
          - The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.
          - The total number of ads shown to users. The value is an integer.
          - The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.
          - The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
          - The number of times ads are returned in response to a request. The value is an integer.
          - The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
          - The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value.
        dimension:
          type: string
          description: Sort by the specified dimension.
          enum:
          - DIMENSION_UNSPECIFIED
          - DATE
          - MONTH
          - WEEK
          - AD_UNIT
          - APP
          - AD_TYPE
          - COUNTRY
          - FORMAT
          - PLATFORM
          - MOBILE_OS_VERSION
          - GMA_SDK_VERSION
          - APP_VERSION_NAME
          - SERVING_RESTRICTION
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
          - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
          - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
          - The unique ID of the ad unit (for example, "ca-app-pub-1234/1234"). If AD_UNIT dimension is specified, then APP is included automatically.
          - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
          - Type of the ad (for example, "text" or "image"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.
          - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is a geography dimension.
          - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
          - Mobile OS platform of the app (for example, "Android" or "iOS").
          - Mobile operating system version, e.g. "iOS 13.5.1".
          - GMA SDK version, e.g. "iOS 7.62.0".
          - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.
          - Restriction mode for ads serving (e.g. "Non-personalized ads").
        order:
          type: string
          description: Sorting order of the dimension or metric.
          enum:
          - SORT_ORDER_UNSPECIFIED
          - ASCENDING
          - DESCENDING
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - Sort dimension value or metric value in ascending order.
          - Sort dimension value or metric value in descending order.
    StringList:
      type: object
      description: List of string values.
      properties:
        values:
          type: array
          description: The string values.
          items:
            type: string
    ReportFooter:
      type: object
      description: Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response.
      properties:
        warnings:
          type: array
          description: Warnings associated with generation of the report.
          items:
            $ref: '#/components/schemas/ReportWarning'
        matchingRowCount:
          type: string
          format: int64
          description: 'Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response.'
    NetworkReportSpec:
      type: object
      description: 'The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the ''US'' and ''CN'' countries can look like the following example: { ''date_range'': { ''start_date'': {''year'': 2021, ''month'': 9, ''day'': 1}, ''end_date'': {''year'': 2021, ''month'': 9, ''day'': 30} }, ''dimensions'': [''DATE'', ''APP'', ''COUNTRY''], ''metrics'': [''CLICKS'', ''ESTIMATED_EARNINGS''], ''dimension_filters'': [ { ''dimension'': ''COUNTRY'', ''matches_any'': {''values'': [{''value'': ''US'', ''value'': ''CN''}]} } ], ''sort_conditions'': [ {''dimension'':''APP'', order: ''ASCENDING''}, {''metric'':''CLICKS'', order: ''DESCENDING''} ], ''localization_settings'': { ''currency_code'': ''USD'', ''language_code'': ''en-US'' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE >= ''2021-09-01'' AND DATE <= ''2021-09-30'' AND COUNTRY IN (''US'', ''CN'') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;'
      properties:
        localizationSettings:
          $ref: '#/components/schemas/LocalizationSettings'
        maxReportRows:
          type: integer
          format: int32
          description: Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.
        dimensions:
          type: array
          description: List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.
          items:
            type: string
            enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_UNIT
            - APP
            - AD_TYPE
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - A date in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
            - A month in the YYYYMM format (for example, "202107"). Requests can specify at most one time dimension.
            - The date of the first day of a week in the YYYYMMDD format (for example, "20210701"). Requests can specify at most one time dimension.
            - The unique ID of the ad unit (for example, "ca-app-pub-1234/1234"). If AD_UNIT dimension is specified, then APP is included automatically.
            - The unique ID of the mobile application (for example, "ca-app-pub-1234~1234").
            - Type of the ad (for example, "text" or "image"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.
            - CLDR country code of the place where the ad views/clicks occur (for example, "US" or "FR"). This is a geography dimension.
            - Format of the ad unit (for example, "banner", "native"), an ad delivery dimension.
            - Mobile OS platform of the app (for example, "Android" or "iOS").
            - Mobile operating system version, e.g. "iOS 13.5.1".
            - GMA SDK version, e.g. "iOS 7.62.0".
            - For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.
            - Restriction mode for ads serving (e.g. "Non-personalized ads").
        dateRange:
          $ref: '#/components/schemas/DateRange'
        dimensionFilters:
          type: array
          description: Describes which report rows to match based on their dimension values.
          items:
            $ref: '#/components/schemas/NetworkReportSpecDimensionFilter'
        sortConditions:
          type: array
          description: Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.
          items:
            $ref: '#/components/schemas/NetworkReportSpecSortCondition'
        timeZone:
          type: string
          description: A report time zone. Accepts an IANA TZ name values, such as "America/Los_Angeles." If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The "America/Los_Angeles" is the only supported value at the moment.
        metrics:
          type: array
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            type: string
            enum:
            - METRIC_UNSPECIFIED
            - AD_REQUESTS
            - CLICKS
            - ESTIMATED_EARNINGS
            - IMPRESSIONS
            - IMPRESSION_CTR
            - IMPRESSION_RPM
            - MATCHED_REQUESTS
            - MATCH_RATE
            - SHOW_RATE
            x-enum-descriptions:
            - Default value for an unset field. Do not use.
            - The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
            - The number of times a user clicks an ad. The value is an integer.
            - The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.
            - The total number of ads shown to users. The value is an integer.
            - The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.
            - The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
            - The number of times ads are returned in response to a request. The value is an integer.
            - The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.
            - The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value.
    DateRange:
      type: object
      description: Specification of a single date range. Both dates are inclusive.
      properties:
        startDate:
          $ref: '#/components/schemas/Date'
        endDate:
          $ref: '#/components/schemas/Date'
    ReportRowDimensionValue:
      type: object
      description: Representation of a dimension value.
      properties:
        displayLabel:
          type: string
          description: The localized string representation of the value. If unspecified, the display label should be derived from the value.
        value:
          type: string
          description: Dimension value in the format specified in the report's spec Dimension enum.
    ReportWarning:
      type: object
      description: Warnings associated with generation of the report.
      properties:
        type:
          type: string
          description: Type of the warning.
          enum:
          - TYPE_UNSPECIFIED
          - DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE
          - DATA_DELAYED
          - OTHER
          - REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY
          x-enum-descriptions:
          - Default value for an unset field. Do not use.
          - Some data in this report is aggregated based on a time zone different from the requested time zone. This could happen if a local time-zone report has the start time before the last time this time zone changed. The description field will contain the date of the last time zone change.
          - There is an unusual delay in processing the source data for the requested date range. The report results might be less up to date than usual. AdMob is aware of the issue and is actively working to resolve it.
          - Warnings that are exposed without a specific type. Useful when new warning types are added but the API is not changed yet.
          - The currency being requested is not the account currency. The earning metrics will be based on the requested currency, and thus not a good estimation of the final payment anymore, due to the currency rate fluctuation.
        description:
          type: string
          description: Describes the details of the warning message, in English.
    Date:
      type: object
      description: 'Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp'
      properties:
        year:
          type: integer
          format: int32
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
        month:
          type: integer
          format: int32
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
        day:
          type: integer
          format: int32
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
    ReportRowMetricValue:
      type: object
      description: Representation of a metric value.
      properties:
        microsValue:
          type: string
          format: int64
          description: Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.
        integerValue:
          type: string
          format: int64
          description: Metric integer value.
        doubleValue:
          type: number
          format: double
          description: Double precision (approximate) decimal values. Rates are from 0 to 1.
    GenerateNetworkReportResponse:
      type: object
      description: 'The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ "header": { "dateRange": { "startDate": {"year": 2018, "month": 9, "day": 1}, "endDate": {"year": 2018, "month": 9, "day": 1} }, "localizationSettings": { "currencyCode": "USD", "languageCode": "en-US" } } }, { "row": { "dimensionValues": { "DATE": {"value": "20180918"}, "APP": { "value": "ca-app-pub-8123415297019784~1001342552", displayLabel: "My app name!" } }, "metricValues": { "ESTIMATED_EARNINGS": {"microsValue": 6500000} } } }, { "footer": {"matchingRowCount": 1} }]'
      properties:
        header:
          $ref: '#/components/schemas/ReportHeader'
        row:
          $ref: '#/components/schemas/ReportRow'
        footer:
          $ref: '#/components/schemas/ReportFooter'
    ReportHeader:
      type: object
      description: Groups data helps to treat the generated report. Always sent as a first message in the stream response.
      properties:
        reportingTimeZone:
          type: string
          description: The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, "America/Los_Angeles".
        dateRange:
          $ref: '#/components/schemas/DateRange'
        localizationSettings:
          $ref: '#/components/schemas/LocalizationSettings'
    LocalizationSettings:
      type: object
      description: Localization settings for reports, such as currency and language. It affects how metrics are calculated.
      properties:
        languageCode:
          type: string
          description: Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.
        currencyCode:
          type: string
          description: Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified.
  securitySchemes:
    GoogleOAuth2:
      type: oauth2
      description: Google OAuth 2.0 user authorization. AdMob does not support service accounts.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admob.readonly: See your AdMob data
            https://www.googleapis.com/auth/admob.report: See your AdMob data
externalDocs:
  description: AdMob API documentation
  url: https://developers.google.com/admob/api/
x-refined-from:
- google-admob-api-v1-openapi.yml
- google-admob-api-v1beta-openapi.yml
