openapi: 3.1.0
info:
  title: Google AdMob Accounts mediationGroups API
  description: The AdMob API provides programmatic access to AdMob account information, including ad units, apps, ad sources, mediation groups, and reporting for mobile app monetization.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/admob/api
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://admob.googleapis.com
  description: AdMob API server
security:
- oauth2:
  - https://www.googleapis.com/auth/admob.report
tags:
- name: mediationGroups
paths:
  /v1/{parent}/mediationGroups:
    get:
      summary: Google AdMob List mediation groups
      description: Lists mediation groups under the specified AdMob account.
      operationId: listMediationGroups
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMediationGroupsResponse'
      tags:
      - mediationGroups
components:
  schemas:
    ListMediationGroupsResponse:
      type: object
      properties:
        mediationGroups:
          type: array
          items:
            $ref: '#/components/schemas/MediationGroup'
        nextPageToken:
          type: string
    MediationGroup:
      type: object
      properties:
        name:
          type: string
        mediationGroupId:
          type: string
        displayName:
          type: string
        state:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admob.report: View AdMob reports
            https://www.googleapis.com/auth/admob.readonly: View AdMob data
