openapi: 3.1.0
info:
  title: Google AdMob Accounts Apps API
  description: The AdMob API provides programmatic access to AdMob account information, including ad units, apps, ad sources, mediation groups, and reporting for mobile app monetization.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/admob/api
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://admob.googleapis.com
  description: AdMob API server
security:
- oauth2:
  - https://www.googleapis.com/auth/admob.report
tags:
- name: Apps
paths:
  /v1/{parent}/apps:
    get:
      summary: Google AdMob List apps
      description: Lists apps under the specified AdMob account.
      operationId: listApps
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
      tags:
      - Apps
components:
  schemas:
    ListAppsResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/App'
        nextPageToken:
          type: string
    App:
      type: object
      properties:
        name:
          type: string
        appId:
          type: string
        platform:
          type: string
        manualAppInfo:
          type: object
          properties:
            displayName:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/admob.report: View AdMob reports
            https://www.googleapis.com/auth/admob.readonly: View AdMob data
